/*
COLORS:
Light green: #7ed56f
Light green: #55c57a
Light green: #28b485
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*border and padding are not added to the container */

}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /*it means that the line height 1.7 times bigger than the origin height. Line height means the height of text line*/
    color: #777;
}

.header{
    height: 95vh; /*it means that the 95% of window height*/
    background-image:
    linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top; /*background image will be cropped except top position*/
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}