*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* Important: rem are not supported below internet explorer 9 */
html {
  //This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10/16 x 100 = 62.5%


  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%; // 1rem = 9px; 9/16 x 100 = 56.25%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; // 1rem = 8px; 8/16 x 100 = 50%
  }
// this is how we apply the order of media queries. The larger ones should come up
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12/16 x 100 = 75%
  }
}
body {
  box-sizing: border-box; /*border and padding are not added to the container */
}
